/* Fonts - declare */
@font-face {
    font-family: 'Raleway-Bold';
    src: url('Font/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('Font/Raleway-Regular.ttf');

}

@font-face {
    font-family: 'Raleway-Light';
    src: url('Font/Raleway-Light.ttf');
}

/* Global */

h1, h2, h3, h4 {
    font-family: 'Raleway-Bold';
}

p
{
    font-family: 'Raleway-Regular';
}

.Avertissement {
    font-family: 'Raleway-Light';
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color:inherit;
}

a:visited {
    text-decoration:none;
    color:inherit;
}

a:hover {
    color:inherit;
}

#margeage {
    margin: 0px auto;
    width: 1440px;
}

/* Header */
/* Ca commence à ressembler à ce qu'on demande, quelques notes néanmoins :
 La marge du haut n'est pas assez haute par rapport à la représentation.
 J'aimerais mettre la police de "S'inscrire" en gras mais pour l'instant je n'y parviens pas.
 Si j'augmente la taille de la boîte Header, je réduis la qualité du texte "Reservia" parce qu'il décide de grandir aussi... Que faire */

header {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 0 20px;
    padding: 0;
    height: 45px;
    flex-wrap: wrap;
}

header img {
    /* L'image est déformé car la taille de la barre n'est pas exactement la bonne.*/
    margin-right: auto;
}

header li {
    list-style-type: none;
    display: inline;
    padding: 16px 5px 16px 5px;
}

header li:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

#Inscription {
    color:#0065FC;
    font-family: 'Railway-Bold';
    align-self: center;
}

@media all and (max-width: 1000px) {
    header :nth-child(2) {
        order: 3;
        width: 100%;
    }

}

/* Rercherche et filtres */

nav h2+p {
    margin-top: 0px;
    margin-bottom: 6px;
}
nav h2 {
    margin-bottom: 0px;
}

#Geo_Recherche {
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    display:flex;
    width: 300px;
}
#Geo_Recherche label {
    background-color: #F2F2F2;
    border-radius: 6px 0 0 6px;
    width:20px;
    margin:0px;
    padding:0px;
}

#Geo_Recherche input[type='text'] {
    width: 200px;
    margin: 0px;
    padding: 0px;
}

#Geo_Recherche input[type='submit'] {
    width: 80;
    margin: 0px;
    padding: 0px;
    border: #0065FC solid 2px;
    border-radius: 0px 9px 9px 0px; 
    background-color: #0065FC;
    color: white;
}

nav h3 {
    margin: 10px 5px 10px 0;
}

nav div {
    display: flex;
    height: 40px;
}

nav button {
    height: 30px;
    margin: 7px 6px 0px 6px;
    font-family: 'Raleway-Bold';
    border-radius: 25px;
    border: #F2F2F2 solid 2px;
    background-color: white;
}

.Point_Info {
    display:flex;
    height: 35px;
}

.Point_Info img {
    margin: 2px;
    padding: 2px;
    border: solid #F2F2F2 2px;
    border-radius: 25px;
}

/* Hébergement */

#Hebergements_Groupe {
    display: flex;
}

#Hebergements_Principal {
    border-radius: 25px;
    background-color: #F2F2F2;
    margin-right: 30px;
    flex: 5;
}

#Hebergements_Galerie {
    /* Effet d'ombrage à ajouter sur les galeries !*/
    display:flex;
    flex-wrap: wrap;
    
}

.Fiche_Hebergement_Horizontal {
    width: 30%;
    border-radius: 25px;
    background-color: white;
    border: white solid 5px;
    margin: 10px auto;
    overflow: hidden;
    width: auto;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
}

#Hebergements_Populaire {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #F2F2F2;
    flex: 2;
    justify-content: space-around;
}

.Fiche_Hebergement_Vertical {
    display: flex;
    overflow: hidden;
    border: white solid 5px;
    border-radius: 25px;
    margin: 10px auto;
    height: 200px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
}

@media all and (max-width: 1000px) {
    #Hebergements_Groupe {
        flex-direction: column;
    }
}

/* Activités */

#Activite_Galerie {
    display:flex;
    justify-content: space-around;
    margin: 40px 0px;
    height: 650px;
}

.Double_Activite {
     display:flex;
     flex-direction: column;
     justify-content: space-between;
 }

.Fiche_Activite {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px;
    background-color: #F2F2F2;
}

    footer li {
    list-style-type: none;
}