/* Fonts - declare */
@font-face {
    font-family: 'Raleway-Bold';
    src: url('Font/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('Font/Raleway-Regular.ttf');

}

@font-face {
    font-family: 'Raleway-Light';
    src: url('Font/Raleway-Light.ttf');
}

/* Global */

h1, h2, h3, h4 {
    font-family: 'Raleway-Bold';
}

p
{
    font-family: 'Raleway-Regular';
}

.Avertissement {
    font-family: 'Raleway-Light';
}

body {
    margin: 0;
}

i { 
    margin: 0.4em;
    color: #0065FC;
    text-align: center;
}

a {
    text-decoration: none;
    color:inherit;
    font-family: "Raleway-Regular"
}

a:visited {
    text-decoration:none;
    color:inherit;
}

a:hover {
    color:inherit;
}

#margeage {
    margin: 0 auto;
    min-width: 400px;
    padding: 0 2em;
}

/* Header */

header {
    display: flex;
    justify-content: flex-end;
    margin: 2px 20px 0 20px;
    flex-wrap: wrap;
}

header img {
    margin-right: auto;
    height: 45px;
}

header li {
    list-style-type: none;
    display: inline;
    padding: 16px 40px 16px 5px;
}

header li:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

#Inscription {
    color:#0065FC;
    font-family: 'Raleway-Bold';
    align-self: center;
}

@media all and (max-width: 1000px) {
    header :nth-child(2) {
        order: 3;
        width: 100%;
    }

}

/* Rercherche et filtres */

nav h2+p {
    margin-top: 0px;
    margin-bottom: 6px;
}
nav h2 {
    margin-bottom: 0px;
}

#Geo_Recherche {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    display:flex;
    width: 320px;
    overflow: hidden;
    height: 40px;
    background-color: #F2F2F2;
}

#Geo_Recherche label {
    width: 20px;
    margin: auto;
}

#Geo_Recherche input[type='text'] {
    width: 200px;
    border: none;
    text-align: center;
    font-family: "Raleway-Bold";
    font-size: 1.1em;
}

#Geo_Recherche input[type='submit'] {
    width: 100px;
    border: #0065FC solid 2px;
    background-color: #0065FC;
    color: white;
}

nav h3 {
    margin: 10px 5px 10px 0;
}

.Bouton_Filtre {
    height: 32px;
    margin: 7px 6px 0px 6px;
    border-radius: 25px;
    border: #F2F2F2 solid 2px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Bouton_Filtre p {
    margin: auto;
    font-family: "Raleway-Bold";
    padding-right: 1em;
}

.Cadre_Image_Filtre {
    width: 2rem;
    height: 2rem;
    background-color: #DEEBFF;
    border-radius: 25px;
    z-index: 1;
    padding: 2px;
    position: relative;
    bottom: 2px;
    right: 2px;
}

#Barre_Filtres {
    display: flex;
    flex-wrap: wrap;
}

.Point_Info {
    display: flex;
}

.Point_Info i {
    padding: 0.3em;
    border: solid #F2F2F2 2px;
    border-radius: 25px;
    width: 15px;
    height: 15px;
}

/*Hebergements*/

#Hebergements_Principal {
    padding: 0 1.1em;
}

#Hebergements_Populaire {
    background-color: #F2F2F2;
    padding: 0 1.1em;
}

.Hebergements_Galerie {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#Hebergements_Groupe img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 30% 60%;
}

#Hebergements_Populaire img {
    max-width: 65vh;
}

.Fiche_Hebergement {
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2); 
    border:white solid 5px;
    overflow: hidden;
    margin: 0.4em auto;
    position: relative;
    width: 100%;
    height: 30vh;
}

.Cadre_Texte_Hebergement_Bas {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    background-color: white;
    padding-left: 2rem;
}

.Cadre_Texte_Hebergement_Droite {
    position: absolute;
    margin: 0;
    background-color: white;
    top: 0px;
    right: 0px;
    height: 100%;
    max-width: 40%;
    box-sizing: border-box;
    padding-left: 1rem;
    min-width: 10rem;
}

.Cadre_Texte_Hebergement_Droite span {
    position: absolute;
    bottom: 5%;
}

.Cadre_Image_Hebergement {
    height: 100%;
    width: 100%;
}

.Fiche_Hebergement {
    overflow: hidden;

}

@media all and (min-width: 1400px) {

    #Hebergements_Groupe {
        display: flex;
        flex-direction: row-reverse;
    }

    #Hebergements_Principal .Fiche_Hebergement {
        width: 31%;
        height: 34vh;
    }

    #Hebergements_Populaire .Fiche_Hebergement {
        height: 22vh;
    }

    #Hebergements_Principal {
        background-color: #F2F2F2;
        border-radius: 25px;
        margin-right: 1.2rem;
    }

    #Hebergements_Populaire {
        background-color: #F2F2F2;
        border-radius: 25px;        
    }
}

/* Activités */

#Activite_Galerie {
    display:flex;
    justify-content: space-around;
    margin: 40px 0px;
    flex-wrap: wrap;
}

#Activite_Galerie a h3 {
    font-family: "Raleway-Bold";
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    background-color: white;
    padding-left: 2em;
}

.Double_Activite {
     display:flex;
     flex-direction: column;
     justify-content: justify;
 }

#Activite_Galerie img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Colonne_Activite a {
    height: 100%;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
    border-radius: 25px;
    margin: 2vh;
    overflow: hidden;
    position: relative;
    max-height: 35vh;
}

.Colonne_Activite {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

@media all and (min-width: 1400px) {
    .Colonne_Activite {
        width:24%;
        max-height: 50vh;
    }

    .Colonne_Activite a {
        max-height: 50vh;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px;
    background-color: #F2F2F2;
    width: 100%;
}

footer ul {
    padding: 0px;
    margin: 0px 2px;
}

footer li {
    list-style-type: none;
    font-family: "Raleway-Light"
}